
.container{
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.header{
  color:  white;
}

.spacer50px{
  width: 50px;
}

.badgeContainer{
  position: relative;
  display: block;
}

.badge {
  position: absolute;
  right: 0;
  top: 0;
}

.flexGrow1{
  flex-grow: 1;
}
